.h5-h1,
.h5-h2,
.h5-h3,
.h5-h4,
.h5-h5,
.h5-h6 {
  display: block;
  font-weight: 600;
  line-height: 1.25;
}
.h5-h1 {
  font-size: 2em;
}
.h5-h2 {
  font-size: 1.5em;
}
.h5-h3 {
  font-size: 1.25em;
}
.h5-h4 {
  font-size: 1em;
}
.h5-h5 {
  font-size: 0.875em;
}
.h5-h6 {
  font-size: 0.85em;
}

.h5-p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.h5-strong {
  font-weight: bold;
}
.h5-del {
  text-decoration: line-through;
}
.h5-a {
  cursor: pointer;
  color: #0366d6;
  text-decoration: none;
}
.h5-em {
	font-style: italic;
}
.h5-pre {
	background: #f0f0f0;
}
.h5-code{
	background: #f0f0f0;
	padding: 3px 5px;
	word-wrap: break-word;
}

.h5-hr {
  display: block;
  border-bottom: 1px solid #dfe2e5;
}

.h5-ul,
.h5-ol {
  display: block;
  padding-inline-start: 40px;
}
.h5-ul {
  list-style-type: disc;
}
.h5-ol {
  list-style-type: decimal;
}
.h5-li {
  display: list-item;
}

.h5-img {
  display: inline-block;
  max-width: 100%;
}
